<!DOCTYPE html>
<html>
<head>
	<title>Oliver Goodman</title>
	<!-- jquery -->
	<script src="jquery.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function () { $('body').hide().fadeIn(4000).delay(6000)});
	</script>

	<!-- angularjs -->
	<script src="angular.min.js"></script>
	<script src="angular-animate.min.js"></script>
	<script type="text/javascript" src="script.js"></script>

	<link rel="stylesheet" type="text/css" href="style.css">	
	<link rel="shortcut icon" href="o.png" type="image/x-icon">
	

</head>

<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		<div id="bio" ng-init="showBio=false">
			<div class="text-center">
				<a id="my-name" ng-click="showBio=!showBio;">{{myName}}</a> <span class="fade-in kabel" ng-show="showBio"> was born and raised in</span><span> San Francisco, CA</span><span class="fade-in kabel" ng-show="showBio">.</span>
			</div>
			
			<span id="bio-text" class="fade-in kabel" ng-show="showBio">He studied Computer Science and Film & Media Studies at Northwestern University. When he is not walking his <a class="bio-link kabel" ng-href="{{clickHiddenLink(ernie)}}" target="_blank">{{ernie.text}}</a>, he can be found losing in online chess, taking photos, chocolate tasting, or watching too many <a class="bio-link kabel" ng-href="{{clickHiddenLink(letterboxd)}}" target="_blank">{{letterboxd.text}}</a>.</span>
			</span>

		</div>

		<div>
			<div class="parent">
				<div ng-repeat="link in myLinks">
					<a href="{{link.url}}" target="_blank">{{link.text}}</a>	
				</div>
			</div>

		</div>	

	</div>
	
</body>

</html>