/*@font-face {
	font-family: Huxley-Vert;
	src: local("fonts/HuxleyVerticalBT-Regular.otf"),
		local("Huxley-Vert"),
		url(fonts/HuxleyVerticalBT-Regular.otf);
}

@font-face {
	font-family: Kabel-Light;
	src: local("fonts/Kabel-Light.ttf"),
		local("Kabel-Light"),
		url(fonts/Kabel-Light.ttf);
}

*/

* {
	font-family: "Helvetica";
	line-height: 2;
	font-size: 28px;
	margin: 0px;
}


a {
	cursor: default;
	text-decoration: none;
	color: black;

}

a:hover {
	color: white;
	cursor: default;
	background-color: black;
	border-bottom: none;
}

p {
	padding: 0px;
	margin-top: 10px;
}

#menu {
	margin-top: 40px;
	padding: 0px;
	margin-left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu li {
	display: inline-block;
	padding-right: 10%;
}

#bio {
	margin: 50px 100px 0px 100px;
}

#my-name {
	text-decoration: none;
	border-bottom: 2px solid;
}

#bio-text {
	padding-bottom: 40px;
}

.fade-in {
    transition: all linear 300ms;
    opacity: 1;
    display: inline-block!important;
}

.fade-in.ng-hide {
    opacity: 0;
    display: inline-block!important;
}

.bio-link{
	color: inherit;
	border-bottom: 2px solid;
}

.bio-link:hover {
	color: white!important;
}

.more-links {
	padding-top: 10px;
}


.text-center {
	text-align: center;
}

.parent {
	margin: 50px 100px 0px 100px;
}