@font-face {
	font-family: Huxley-Vert;
	src: local("fonts/HuxleyVerticalBT-Regular.otf"),
		local("Huxley-Vert"),
		url(fonts/HuxleyVerticalBT-Regular.otf);
}

@font-face {
	font-family: Kabel-Light;
	src: local("fonts/Kabel-Light.ttf"),
		local("Kabel-Light"),
		url(fonts/Kabel-Light.ttf);
}


* {
	font-family: "Huxley-Vert";
	line-height: 2;
	font-size: 36px;
	letter-spacing: 8px;
	margin: 0px;
}


a {
	cursor: default;
	text-decoration: none;
	color: black;
	/*border-bottom: 1px solid;*/
	-o-transition: background-color  0.5s linear; /* opera */
	-ms-transition: background-color  0.5s linear; /* IE 10 */
	-moz-transition: background-color  0.5s linear; /* Firefox */
	-webkit-transition: background-color  0.5s linear; /*safari and chrome */*/
}

a:hover {
	color: white;
	cursor: default;
	background-color: black;
	border-bottom: none;
}

p {
	padding: 0px;
	margin-top: 10px;
}

#menu {
	margin-top: 40px;
	padding: 0px;
	text-align: center;
	margin-left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu li {
	display: inline-block;
	padding-right: 10%;
}

#bio {
	margin: 50px 100px 0px 100px;
}

#my-name {
	border-bottom: 1px solid;
}

#bio-text {
	padding: 00px 100px 10px 100px;
	text-align: justify;
}

.fade-in {
    transition: all linear 300ms;
    opacity: 1;
    display: inline-block!important;
}

.fade-in.ng-hide {
    opacity: 0;
    display: inline-block!important;
}

.bio-link{
	color: inherit;
	border-bottom: 1px solid;
}

.bio-link:hover {
	color: white!important;
}

.more-links {
	padding-top: 10px;
}

.kabel {
	font-family: "Kabel-Light";
	font-size: 25px;
	letter-spacing: 3px;
}
.text-center {
	text-align: center;
}
.parent {
	text-align: center
}